# Configuración de Servidor NestJS
PORT=4000
NODE_ENV=production
JWT_SECRET=centryx_super_secret_jwt_key_2026

# Supabase Enterprise PostgreSQL Setup
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Conexión directa PostgreSQL / PgBouncer Supabase
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.tu-proyecto-id
DB_PASSWORD=TuPasswordSupabase
DB_NAME=postgres
